<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.fedecalendino.alfred-crypto-prices</string>
	<key>connections</key>
	<dict>
		<key>22BF0D5B-26C6-4E46-B6A7-1774D82A4DB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>812AB4A3-6673-4A13-A3AD-0A88015282B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>812AB4A3-6673-4A13-A3AD-0A88015282B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3995F06-BA5C-45DF-8B6C-F29907369AAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3D933C22-7A89-415F-B0F0-6F64C8C86AC8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C8815C3E-CE6F-4649-B9BD-E3D96AFE61B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6378D7E-9B5C-41CD-BD2B-747DC6E2BFA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>812AB4A3-6673-4A13-A3AD-0A88015282B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fede Calendino</string>
	<key>description</key>
	<string>Get current prices for cryptocurrencies 🪙️</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Crypto Prices</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:prices_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Fetching prices from coingecko...</string>
				<key>script</key>
				<string>/usr/bin/python3 ./dist/main.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for crypto prices or check your favorites</string>
				<key>title</key>
				<string>Crypto Prices</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22BF0D5B-26C6-4E46-B6A7-1774D82A4DB3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D3995F06-BA5C-45DF-8B6C-F29907369AAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>https.*</string>
						<key>outputlabel</key>
						<string>url</string>
						<key>uid</key>
						<string>3D933C22-7A89-415F-B0F0-6F64C8C86AC8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>price</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>812AB4A3-6673-4A13-A3AD-0A88015282B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:marketcap_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Fetching prices from coingecko...</string>
				<key>script</key>
				<string>/usr/bin/python3 ./dist/main.py marketcap</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for crypto prices by marketcap</string>
				<key>title</key>
				<string>Crypto Marketcap Prices</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E6378D7E-9B5C-41CD-BD2B-747DC6E2BFA9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C8815C3E-CE6F-4649-B9BD-E3D96AFE61B6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Get current prices for cryptocurrencies 🪙


---


FAVORITES

The valid ids are on coingecko's urls: https://www.coingecko.com/en/coins/{id}


For example:

  * ADA: https://www.coingecko.com/en/coins/cardano
  * ATOM: https://www.coingecko.com/en/coins/cosmos
  * JUNO: https://www.coingecko.com/en/coins/juno-network</string>
	<key>uidata</key>
	<dict>
		<key>22BF0D5B-26C6-4E46-B6A7-1774D82A4DB3</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>812AB4A3-6673-4A13-A3AD-0A88015282B3</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>C8815C3E-CE6F-4649-B9BD-E3D96AFE61B6</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>D3995F06-BA5C-45DF-8B6C-F29907369AAB</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E6378D7E-9B5C-41CD-BD2B-747DC6E2BFA9</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>#</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to search for crypto prices or check your favorites.</string>
			<key>label</key>
			<string>Crypto Prices Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>prices_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>@</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to search for crypto prices by marketcap.</string>
			<key>label</key>
			<string>Marketcap Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>marketcap_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bitcoin</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>List of coingecko identifiers for coins (one per line).</string>
			<key>label</key>
			<string>FAVORITES</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>FAVORITES</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.8.4</string>
	<key>webaddress</key>
	<string>https://github.com/fedecalendino/alfred-crypto-prices</string>
</dict>
</plist>
