<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.federicocalendino.alfred-crypto-prices</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1A83937C-233F-47BD-BECF-28AAA78F2794</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A769AEC-03B9-4196-8D66-8D0FE66D432D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8A8F7D1-5FAD-44ED-824D-EF852DBCBBCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A769AEC-03B9-4196-8D66-8D0FE66D432D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fede Calendino</string>
	<key>description</key>
	<string>Get current prices for cryptocurrencies 🪙</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Crypto Prices</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>#</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 ./main.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1A83937C-233F-47BD-BECF-28AAA78F2794</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4A769AEC-03B9-4196-8D66-8D0FE66D432D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>@</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 ./main.py marketcap</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8A8F7D1-5FAD-44ED-824D-EF852DBCBBCA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Get current prices for cryptocurrencies 🪙


Environment Variables:

* COINMARKETCAP_API_KEY: API key for https://coinmarketcap.com/api
* WATCHLIST: Comma separated list of coinmarketcap currency slugs



A mix of slugs and symbols can be used both in the search or in the watchlist:


For example:

  * ADA (symbol) / cardano (slug)
  * ATOM (symbol) / cosmos (slug)
  * ETC (symbol) / ethereum-classic (slug)


The slugs have to the ones used by coinmarketcap.com, and can be found in the url of each currency:

  * https://coinmarketcap.com/currencies/cardano/
  * https://coinmarketcap.com/currencies/cosmos/
  * https://coinmarketcap.com/currencies/ethereum-classic/


This is to allow search for multiple coins that have the same symbol:

  * STARS / mogul-productions
  * STARS / stargaze
  * STARS / starlaunch</string>
	<key>uidata</key>
	<dict>
		<key>1A83937C-233F-47BD-BECF-28AAA78F2794</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>4A769AEC-03B9-4196-8D66-8D0FE66D432D</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>E8A8F7D1-5FAD-44ED-824D-EF852DBCBBCA</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>COINMARKETCAP_API_KEY</key>
		<string>e8c64aba-e2c8-47f1-8861-9b884abafe6e</string>
		<key>WATCHLIST</key>
		<string>ethereum,cardano,cosmos,cronos,juno,osmosis,secret,stargaze</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>WATCHLIST</string>
		<string>COINMARKETCAP_API_KEY</string>
	</array>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://github.com/federicocalendino/alfred-crypto-prices</string>
</dict>
</plist>
